*{ /* Seletor universal, ele aplica as regras de estilo a todos os elementos da página, independente do tipo */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;/* Tira as bolinhas de lista de tudo */
}

body{
    background: #000;
    color: #fff;
    font-size: 16px;
    overflow: hidden; /* Tira o rolamento do mouse "scroll" */
}
header{
    position: fixed; /* Fixa posição do cabeçalho*/
    width: 80vw;
    left: 50%; /* Quando cola left, ele começa do meio pra esquerda, então não centraliza */
    transform: translateX(-50%);/* Com o transform e translate ele se move no eixo X */
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 100px;
    z-index: 2;/* Coloca ele na frente */


    & img{
        width: 250px;
    }

    & nav{
        & ul{
            display: grid;
            grid-template-columns: repeat(3, 200px);
        }
    }   
}

section{
        background-image: radial-gradient(#7f3d9e, #6d00d9);/* Criando em degrade de cores  */
        height: 100vh;
        position: relative;

        & .list {
            width: 70vw;
            height: 100px;
            margin: auto;
            position: relative;

            & .item {
                position: absolute;
                inset: 0;/* Coloca tudo com um valor x. top. bottom... */
              
                & .car-img {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 70%;

                    & img {
                        width: 100%;
                        transform: rotate(-30deg);
                    }

                }

                & .content{
                    position: absolute;
                    right: 100px;
                    width: 70%;
                    height: 100%;
                    display: flex;
                    flex-direction: column; /* Coloca em colunas */
                    justify-content: end; /* Joga tudo pro final */
                    align-items: end;
                }
            }

        }
    }

.arrows{ /* Class coloca . */
    & button{
        & img{
            width: 100px;
        }
    }
}